.koji-embed-button {
  background: #111;
  border: 0px;
  border-radius: 5px;
  color: #fff;
  font-family: sans-serif;

  align-items: center;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  grid-area: pay;
  line-height: 16px;
  letter-spacing: -0.14px;
  justify-content: center;
  outline: none;
  padding: 20px 35px;
  position: relative;
  user-select: none;
  text-align: center;
  transition: 0.2s ease transform, 0.2s ease background;
  -webkit-tap-highlight-color: transparent;

  width: fit-content;
}

.koji-embed-button:active {
  transform: scale(0.95, 0.95);
}

.koji-embed-button:disabled {
  cursor: not-allowed;
  opacity: 30%;
}

.koji-embed-button-none,
.koji-embed-button-left {
  margin-left: 0;
}

.koji-embed-button-center {
  margin: 0 auto;
}

.koji-embed-button-right {
  margin-left: auto;
}

.koji-embed-button-full {
  width: 100%;
}

/* Editor Color Palette CSS Fix */

.koji-embed-button-color-palette .components-circular-option-picker {
  margin-top: unset !important;
}
